.calendar {
  height: 100%;
  font-size: 15px;
  padding: 2px;
  position: relative;
  margin: 0px;
  margin-right: 2px;
  padding-top: 4px;
}
.searchbar {
  width: calc(95% - 10px);
  height: 22px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 2px;
  font-family: Arial;
  margin-left: 7px;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-top: 0px;
  vertical-align: top;
  padding: 1px;
  position: static;
}
.results {
  resize: vertical;
  background-color: white;
  overflow-y: auto;
  font-family: Arial;
  vertical-align: top;
  margin-top: 0px;
  padding: 0px;
  float: none;
  position: sticky;
  top: 0px;
  vertical-align: middle;
  min-height: 150px;
}
.result {
  height: 25px;
  padding: 1px;
  margin: 1px;
  font-family: Arial;
  font-size: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.search {
  resize: vertical;
  overflow: hidden;
  padding: 3px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  min-height: 204px;

}
.carousel {
  text-align: center;
  color: black;


}
.spacer {
  margin-bottom: 150px;
  margin-left: 70px;
  margin-right: 70px;
}
.leftside {
  min-width: 200px;
  max-width: 700px;
  width: 20.81%;
  height: 925px;
  margin: .2%;
  overflow: hidden;
  float: left;
  padding-left: 4px;
  resize: horizontal;
  background-color: white;
}
.roster {
  height: 76%;
  background-color: white;
  overflow: hidden;
  position: sticky;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
}
.rostertable {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.right {
  float: right;
  vertical-align: middle;
}
.fit {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  width: 0px;
}
body {
  height: 100%;
  width: 100%;
  resize: vertical;
  overflow: auto;
}
p {
  text-align: center;
  font-size: 15px;
  padding: 0px;
  margin: 2px;
}
h3 {

  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
