
.myGoals {
    display: grid;
    grid-template-rows: 24% 50% 24%;
    row-gap: 1%;
    grid-template-columns: 20% 60% 20%;

    height: 100vh;
    width: 100vw;
    background-image: url("../../../images/bg4.jpg");
    background-size: cover;
    color: white;
    padding: 1%;
}

.desc {
    grid-row: 3;
    grid-column: 2;

    color: rgba(255, 255, 255, 0.616);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}


.goal_form {
    grid-row: 2;
    grid-column: 2;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size:xx-large;
    width: auto;
    height: auto;
    text-align: center;
    word-wrap: break-word;
    word-break: keep-all;
}

table {
    width: 100%;
    height: 25%;
}

table th {
    width: 30%;
    outline: auto;
}


table td {
    width: 30%;
    height: 100%;
    outline: auto;
}

table td input {
    width: 75%;
    height: 100%;
    text-align: center;
}

