div {
    color: rgb(54, 54, 54);
}

span {
    color: white;
}

.workoutspopup {
    padding: 1%;
    background-color: #AFBBF2;
    height: 350px;
    width: 400px;
}

.main_container {
    height: 100vh;
    width: 100%;
}

.myWorkouts {
    height: 100vh;
    width: 100%;
    background-color: #564E58;
}

.publicWorkouts {
    height: 100vh;
    width: 100%;
    background-color: #85F19A;
}

.home {
    height: 100vh;
    width: 100%;
}

.header {
    background-color:#141414;
    height: 15%;
    padding: 1%;
    color: white;
}

.calendar {
    background-color: #F2EFE9;
    height: 45%;
}

.stats {
    height: 40%;
    background-color: #564E58;
}

.completePopup {
    width: 70vw; 
    height: 65vh;
    background-color: #303030;
    margin: 10% 10% 10% 10%;
    border-radius: 3%;
    padding: 1%;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.exercise_sel {
    float: left;
    width: 65%;
    margin: 1%;
    height: 90%;
    border-radius: 3%;
}

.workoutList {
    float: right;
    width: 30%;
    height: 70%;
    margin-top: 1%;
    margin-right: 2%;
    background-color: white;
}

.workoutItem {
    width: 100%;
    height: 80px;
    background-color: rgb(70, 70, 70);
    border-radius: 3%;
    margin-bottom: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1%;
}

.ex_button {
    width: 30%;
    height: 40%;
    text-align: center;
    background-color: #564E58;
    color:#F2EFE9;
    float: right;
    border-radius: 3%;
}

.time_select {
    color: #252627;
    background-color: #F2EFE9;
}

.time_select:focus {
    background-color: #b3b0aa;
}


#button {
    background-color: rgba(255, 255, 255, 0.411);
    border: none;
}

#button:focus {
    background-color:rgba(255, 255, 255, 0.411);
    border: none;
}

#finish {
    width:90%;
    background-color:white;
    height:10%;
    margin: 2%;
    margin-right:3%;
    padding: 1%;
    border-radius: 10% 10% 10% 10%;
    float: right;
}

.popup_title {
    background-color: #303030;
    color:white;
    text-align: left;
    padding: 1%;
    width: 100%;
    height: 20%;
}

.filters {
    width:100%;
    height: 70%;
    background-color: none;
    color: white;
}

.popup_body {
    height: 85%;
    width: 100%;
    background-color: rgb(223, 219, 219);
}

.ex_comp:nth-child(even) {
    width:99%;
    height:15vh;
    background-color: rgba(255, 255, 255, 0.925);
    margin: 2px auto;
}

.ex_comp:nth-child(odd) {
    width:99%;
    height:15vh;
    background-color: rgba(143, 143, 143, 0.74);
    margin: 2px auto;
}

.menu-item {
    width: 300px;
    height: 25vh;
    margin: 15px;
    background-color: #564E58;
    cursor: pointer;

}
.menu-item-wrapper.active {
    border: 1px black solid;
}

.scroll-menu-arrow {
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    background-color: #272a2e;
    height: 100%;
    width: 100%;
    border-radius: 1%;
}

.scroll-menu-arrow:hover {
    cursor: pointer;
    background-color: gray;
    height: 100%;
    border-radius: 1%;
}