.workoutspopup {
    padding: 1%;
    background-color: #AFBBF2;
    height: 350px;
    width: 400px;
}

.main_container {
    height: 100vh;
    width: 100%;
}

.myWorkouts {
    height: 100vh;
    width: 100%;
    background-color: #564E58;
}

.publicWorkouts {
    height: 100vh;
    width: 100%;
    background-color: #85F19A;
}

.home {
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #AFBBF2;
    height: 15%;
}

.calendar {
    background-color: #F2EFE9;
    height: 45%;
}

.stats {
    height: 40%;
    background-color: #564E58;
}

.popup_comp {
    width: 60vw; 
    height: 60vh;
    background-color: #444d75;
    margin: 10% 10% 10% 10%;
    border-radius: 3%;
    padding: 2%;
}

.time_select {
    color: #252627;
    background-color: #F2EFE9;
}

.time_select:focus {
    background-color: #b3b0aa;
}


#button {
    background-color: rgba(255, 255, 255, 0.411);
    border: none;
}

#button:focus {
    background-color:rgba(255, 255, 255, 0.411);
    border: none;
}

.popup_title {
    background-color: black;
    color:white;
    text-align: center;
    width: 100%;
    height: 15%;
}

.popup_body {
    height: 85%;
    width: 100%;
    background-color: white;
}

.ex_comp:nth-child(even) {
    width:99%;
    height:15vh;
    background-color: rgba(255, 255, 255, 0.925);
    margin: 2px auto;
}

.ex_comp:nth-child(odd) {
    width:99%;
    height:15vh;
    background-color: rgba(150, 50, 50, 0.925);
    margin: 2px auto;
}






.menu-item {
    background-color: #564E58;
    cursor: pointer;

}
.menu-item-wrapper.active {
    border: 1px blue solid;
}
.menu-item.active {
    border: 1px green solid;
}

.scroll-menu-arrow {
    padding: 1%;
    cursor: pointer;
}